.reviews {

}

.reviews__wrapper {
  @include container-fluid;
  padding: 20px 30px 45px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reviews__title {
  @include margin-padding-null;
  color: black;
  font-family: Verdana;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.reviews__items {
  margin-top: 27px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.reviews__item {
  @include margin-padding-null;
}

.reviews__item p {
  color: #444;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.reviews__author-name {
  color: black;
  font-family: Verdana;
  font-weight: 700;
  line-height: 24px;
}

.reviews__nickname {
  color: #444;
  font-family: OpenSans;
  font-weight: 400;
  line-height: 30px;
}

.reviews__nav-block {
  width: 100%;
  display: flex;
}

.reviews__prev, .reviews__next {
  margin-top: 30px;
  margin-bottom: 38px;

  width: 50%;
  height: 50px;
  background-color: #ffffff;
  border: none;
  font-size: 0px;

  border: 1px solid #ececec;
}

.reviews__prev {
  &::before {
    content: "";
    display: inline-flex;
    @include sprite($left-arrow);
  }

  &:hover::before {
    @include sprite($left-arrow-hover);
  }

  &:active::before {
    @include sprite($left-arrow-active);
  }

}

.reviews__next {
  &::before {
    content: "";
    display: inline-flex;
    @include sprite($right-arrow);
    left: auto;
  }

  &:hover::before {
    @include sprite($right-arrow-hover);
  }

  &:active::before {
    @include sprite($right-arrow-active);
  }

}

/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////

@media (min-width: $tablet-widths) {
  .reviews {
    background: url(../img/review-bg.jpg) 0 0 no-repeat;
  }

  .reviews__wrapper {
    background-size: 50px;
    padding-top: 75px;
    padding-bottom: 33px;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .reviews__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
  }

  .reviews__items {
    position: relative;

    margin-top: 37px;
    padding-bottom: 100px;
  }

  .reviews__item p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
  }

  .reviews__nav-block {
    position: absolute;
    bottom: 60px;
    right: 10px;
    width: 150px;
  }

  .reviews__prev, .reviews__next {
    border: none
  }

  .reviews__title {
    order: -2;
  }

  .reviews__write {
    order: -1;
    padding: 20px 46px;



  }

}


/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////

@media (min-width: $desktop-widths) {
  .reviews__wrapper {
    padding-top: 70px;
    padding-left: 215px;
    width: 75%;

    background-size: 75px;
  }

  .reviews__title {
    font-size: 50px;
    font-weight: 700;
    line-height: 57px;
  }


  .reviews__item p {
    width: 80%;
  }

  .reviews__nav-block {
    bottom: 80px;
  }

}

