.week-product__wrapper {
  @include container-fluid;

  display: flex;
  flex-direction: column;


  padding-left: 30px;
  padding-right: 30px;

  padding-top: 30px;
  padding-bottom: 40px;

  background-image: url("../img/zigzag-line.png");
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 25px;


}

.week-product__name{
  @include margin-padding-null;
  order: -10;
  color: black;
  font-family: Verdana;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}


.week-product__title {
  color: #63d1bb;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.week-product__desc {
  color: #444;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.week-product__characteristics {
  color: #444;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

  margin-top: 10px;
  border-collapse: collapse;
  width: 100%;
}

.week-product__characteristics td{
  border-bottom: 1px solid #ececec;
  height: 40px;
}

.week-product__characteristic {
  width: 50%;

}

.week-product__value {
  width: 50%;
}

.week-product__photo {
  margin-top: 40px;
  text-align: center;
}

.week-product__photo img{
  width: 260px;
  height: 315px;
}

.week-product__price {
  color: #444;
  font-family: Verdana;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  margin: 17px;
}

.week-product__buy {

  //margin: 0 auto;
  padding: 20px 88px;

}

/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////

@media (min-width: $tablet-widths) {

  .week-product__wrapper {
    position: relative;
    flex-direction: column;
    background-size: 50px;
    padding-bottom: 70px;
  }

  .week-product__index {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: flex-start;

  }

  .week-product__title {
    margin-right: 10px;
    width: 10%;
    text-align: center;

  }

  .week-product__name {
    font-size: 40px;
    line-height: 40px;
  }

  .week-product__desc {
    width: 50%;

    margin-bottom: 45px;
  }

  .week-product__characteristics {
    width: 50%;
    margin-bottom: 55px;

  }


  .week-product__photo {
    position: absolute;
    top: 90px;
    right: 40px;
    z-index: -10;
  }

  .week-product__photo img {
    width: 333px;
    height: 404px;
  }

  .week-product__price {
    width:50%;



  }

  .week-product__buy {
    margin: 0;
    width: 50%;

    padding: 20px 0;
  }

}

/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////

@media (min-width: $desktop-widths) {
  .week-product__wrapper {
    padding-top: 115px;
    padding-bottom: 95px;

    background-size: 75px;
  }


  .week-product__index {
    justify-content: flex-start;

    margin-bottom: 15px;

  }

  .week-product__title {
    margin-right: 55px;
    margin-left: 25px;

  }

  .week-product__name {
    order: 10;
    font-size: 47px;

  }

  .week-product__desc {
    margin-left: 190px;
    width: 25%;
  }

  .week-product__characteristics {
    margin-left: 190px;
    margin-bottom: 95px;

    width: 25%;
  }

  .week-product__photo {

    top: 20px;
    right: 40px;
  }


  .week-product__photo img {
    width: 525px;
    height: 636px;
  }

  .week-product__price {
    width: 25%;
    margin-left: 190px;
    margin-bottom: 35px;


  }

  .week-product__buy {
    margin-left: 190px;
    width: 25%;
  }




}
