/** Created by TTF.in.ua **/
@font-face {
    font-family: 'Verdana-Bold';
    src: url('Verdana-Bold.eot');
    src: url('Verdana-Bold.eot?#iefix') format('embedded-opentype'),
         url('Verdana-Bold.woff') format('woff'),
         url('Verdana-Bold.ttf') format('truetype'),
         url('Verdana-Bold.svg#Verdana-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}