@import "bourbon";
@import "sass/vars";
@import "sass/base";
@import "sass/mixins";
@import "sass/sprite";

//First screen styles

.page-header__wrapper {
  position: relative;
  @include container-fluid;
  display: flex;
  flex-direction: column;
  align-content: center;
}


.main-nav__wrapper {
  display: flex;
  flex-direction: column;
}

.main-nav__logo {
  flex-grow: 1;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 70px;
  padding-right: 70px;

  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
}

.main-nav__logo a{
  display: block;
}

.main-nav__toggle {
  position: absolute;
  top:0;
  right: 0;
  z-index: 2;
  display: block;
  width:  79px;
  height: 79px;
  background-color: white;
  font-size: 0;
  cursor: pointer;
  border: none;
}

.main-nav--opened .main-nav__toggle{
  &::before, &::after {
    content: "";
    position: absolute;
    top: 34px;
    right: 26px;
    width: 27px;
    height: 2px;
    background-color: #000000;
  }

  &::before{
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after{
    transform: rotate(-45deg);
  }

  &:hover::before,&:hover::after {
    opacity: 0.6;
  }

  &:active::before,&:active::after {
    opacity: 0.3;
  }
}

.main-nav--closed .main-nav__toggle{

  &::before {
    content: "";
    position: absolute;
    top: 27px;
    right: 27px;

    width: 27px;
    height: 2px;

    background-color: #000000;

    box-shadow: 0 8px 0 0 #000000,
    0 16px 0 0 #000000;
  }

  &:hover::before{
    opacity: 0.6;
  }

  &:active::before{
    opacity: 0.3;
  }
}

.main-nav__items {
  display: flex;
  flex-direction: column;

  @include margin-padding-null;
  list-style: none;
}

.main-nav__item a{
  display: block;
  padding: 25px 15px 27px 77px;

  color: black;
  text-decoration: none;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;

  box-shadow: inset 0 1px 0 #ececec, 0 1px 0 #ececec;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__search a{
  display: block;
  position: relative;
  padding: 30px 15px 30px 77px;

  color: black;
  text-decoration: none;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;

  box-shadow: inset 0 1px 0 #ececec,
  0 1px 0 #ececec;

  &::before {
    content: "";
    display: block;
    position: absolute;
    @include sprite($search);
    top: 30px;
    left: 35px;
  }

  &:hover {
    opacity: 0.6;
  }
  &:hover::before {
    opacity: 1;
    @include sprite($search-hover);
  }

  &:active {
    opacity: 0.3;
  }
  &:active::before {
    opacity: 1;
    @include sprite($search-active);
  }
}

.main-nav__user-items {
  @include margin-padding-null;
  list-style: none;
}

.main-nav__user-item a{
  position: relative;
  display: block;
  padding: 30px 15px 30px 77px;

  color: black;
  text-decoration: none;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;

  box-shadow: inset 0 1px 0 #ececec,
  0 1px 0 #ececec;

  &::before {
    content: "";
    display: block;
    position: absolute;
    @include sprite($cart);
    top: 30px;
    left: 35px;
  }

  &:hover {
    opacity: 0.6;
  }
  &:hover::before {
    opacity: 1;
    @include sprite($cart-hover);
  }

  &:active {
    opacity: 0.3;
  }
  &:active::before {
    opacity: 1;
    @include sprite($cart-active);
  }
}

.main-nav__offer {
  display: none;
}

.main-nav__offer-items {
  display: none;
}

@media (max-width: $max-mobile-width) {
  .main-nav--closed .main-nav__items {
    display: none;
  }

  .main-nav--closed .main-nav__user-items {
    display: none;
  }

  .main-nav--closed .main-nav__search {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__items {
    display: block;
  }

  .main-nav--nojs .main-nav__search {
    display: block;
  }

  .main-nav--nojs .main-nav__user-items {
    display: block;
  }
}

/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////

@media (min-width:$tablet-widths){

  .main-nav__logo {
    @include margin-padding-null;
    padding-left: 15px;
    padding-top: 20px;
    text-align: left;
    width: 35%;
    border-bottom: 1px solid #eaeaea;
  }

  .main-nav__logo img {
    width: 113px;
    height: 46px;


  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-nav__items {
    flex-direction: row;
    order: 10;

    font-size: 14px;
  }

  .main-nav__items a{
    box-shadow: none;
    padding: 30px 10px;
    background-color: #f9f9f9;
  }

  .main-nav__search a{
    font-size: 0;
    box-shadow: none;
    border-bottom: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;


  }

  .main-nav__user-items a{
    box-shadow: none;
    border-bottom: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;

  }

  .main-nav__offer {
    display: inline-flex;
    flex-grow: 1;
    justify-content: flex-end;
    font-family: "Open Sans";
    color: #444;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    order: 20;
    padding: 25px 15px 25px 0;
    background-color: #f9f9f9;

  }

}

/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////
/////////////////////////////////////////////////////


@media (min-width:$desktop-widths){
  .main-nav__wrapper {
    justify-content: space-between;
  }

  .main-nav__logo {
    width: auto;
    text-align: center;
    padding-top: 5px;
  }

  .main-nav__logo img {
    width: 149px;
    height: 72px;

  }


  .main-nav__items {
    order: -10;
  }

  .main-nav__items a {
    border-bottom: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    background-color: white;
  }

  .main-nav__item:last-child a{
    border-right: none;
  }

  .main-nav__offer-items {
    @include margin-padding-null;
    list-style: none;
    display: flex;
    background-color: #f9f9f9;
  }

  .main-nav__offer-items a {
    display: block;
    color: black;
    text-decoration: none;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;

    padding: 25px 15px 25px 15px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}


.title-box {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 750px;
  background-color: #fafafa;
  background-image: url("../img/title-box.jpg");
  background-position: center -50px;
  background-size: cover;

  .title-box__title {
    margin-top: 135px;
    font-size: 24px;
    width: 50%;
    text-align: center;
    align-self: center;

    font-family: Verdana;
  }

  .title-box__category-list {
    @include margin-padding-null;
    display: flex;
    flex-direction: column;

    margin-top: auto;

    list-style: none;
    align-items: stretch;
  }

  .title-box__category-item {
    display: flex;

  }

  .title-box__category-item a {
    position: relative;
    flex-grow: 1;

    color: white;
    font-family: Verdana;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;

    padding-top: 25px;
    padding-bottom: 25px;
    paddind-right: 70px;
    padding-left: 30px;
  }

  .title-box__category-item:nth-child(1) a {
    background-color: #63d1bb;

    &::before {
      position: absolute;
      top: 20px;
      right: 33px;

      content: "";
      display: block;
      height: 60px;
      width: 40px;
      background: url("../img/interior.png");
    }

    &:hover {
      background-color: #59d5bc;
    }

    &:active {
      background-color: #59d5bc;
      color: #8be1d0;

    }

    &:hover::before {
      background: url("../img/interior-hover.png");
    }

    &:active {
      background-color: #46c1ae;
      color: #7ddeca;
    }

    &:active::before {
      background: url("../img/interior-active.png");
    }

  }

  .title-box__category-item:nth-child(2) a {

    background-color: #56c3b2;

    &::before {
      position: absolute;
      top: 20px;
      right: 27px;

      content: "";
      display: block;
      height: 60px;
      width: 60px;
      background: url("../img/toy.png");
    }

    &:hover {
      background-color: #46c1ae;
    }

    &:hover::before {
      background: url("../img/toy-hover.png");
    }

    &:active {
      background-color: #46c1ae;
      color: #7dd3c6;
    }

    &:active::before {
      background: url("../img/toy-active.png");
    }
  }

  /////////////////////////////////////////////////////
  /////////////////////////////////////////////////////
  /////////////////////////////////////////////////////
  /////////////////////////////////////////////////////
  /////////////////////////////////////////////////////
  /////////////////////////////////////////////////////
  /////////////////////////////////////////////////////
  /////////////////////////////////////////////////////

  @media (min-width: $tablet-widths) {
    .title-box {
      background-position: center -100px;

    }

    .title-box__title {
      font-size: 40px;
      width: 70%;
    }

    .title-box__category-list {
      flex-direction: row;

    }

    .title-box__category-item {
      width: 50%;
      align-self: flex-end;

    }

    .title-box__category-item a {
      padding-bottom: 50px;
      &:hover {
        padding-bottom: 65px;
      }
    }



    .title-box__category-item:nth-child(1) a {
      background: url("../img/zigzag-border.png") #46c1ae;
      background-repeat: repeat-x;
      background-position: right bottom;

    }

    .title-box__category-item:nth-child(2) a {

      background: url("../img/zigzag-border.png") #56c3b2;
      background-repeat: repeat-x;
      background-position: left bottom;

    }
  }
}


