@import "bourbon";
@import "vars";
@import "mixins";


*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}

*:-moz-placeholder {
	color: #666;
	opacity: 1;
}

*::-moz-placeholder {
	color: #666;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: #666;
}
body input:required:valid,
body textarea:required:valid {
	color: #666;
}

body {
	font-size: 16px;
	min-width: 320px;
  max-width: 1150px;
	position: relative;
	line-height: 1.6;
	font-family: $default-font;
	overflow-x: hidden;
  margin: 0 auto;
}

.btn {
  @include margin-padding-null;

  background-color: white;
  border: 2px solid #444;

  color: #444;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  padding: 15px 80px;
  text-align: center;

  &:hover {
    border: 2px solid #444;
    background-color: #444;
    color: white;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
  }

  &:active {
    color: #787878;
  }

}

