/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$cart-active-name: 'cart-active';
$cart-active-x: 30px;
$cart-active-y: 112px;
$cart-active-offset-x: -30px;
$cart-active-offset-y: -112px;
$cart-active-width: 21px;
$cart-active-height: 18px;
$cart-active-total-width: 169px;
$cart-active-total-height: 141px;
$cart-active-image: 'sprite.png';
$cart-active: (30px, 112px, -30px, -112px, 21px, 18px, 169px, 141px, 'sprite.png', 'cart-active', );
$cart-hover-name: 'cart-hover';
$cart-hover-x: 51px;
$cart-hover-y: 112px;
$cart-hover-offset-x: -51px;
$cart-hover-offset-y: -112px;
$cart-hover-width: 21px;
$cart-hover-height: 18px;
$cart-hover-total-width: 169px;
$cart-hover-total-height: 141px;
$cart-hover-image: 'sprite.png';
$cart-hover: (51px, 112px, -51px, -112px, 21px, 18px, 169px, 141px, 'sprite.png', 'cart-hover', );
$cart-name: 'cart';
$cart-x: 72px;
$cart-y: 112px;
$cart-offset-x: -72px;
$cart-offset-y: -112px;
$cart-width: 21px;
$cart-height: 18px;
$cart-total-width: 169px;
$cart-total-height: 141px;
$cart-image: 'sprite.png';
$cart: (72px, 112px, -72px, -112px, 21px, 18px, 169px, 141px, 'sprite.png', 'cart', );
$fb-active-name: 'fb-active';
$fb-active-x: 15px;
$fb-active-y: 112px;
$fb-active-offset-x: -15px;
$fb-active-offset-y: -112px;
$fb-active-width: 15px;
$fb-active-height: 29px;
$fb-active-total-width: 169px;
$fb-active-total-height: 141px;
$fb-active-image: 'sprite.png';
$fb-active: (15px, 112px, -15px, -112px, 15px, 29px, 169px, 141px, 'sprite.png', 'fb-active', );
$fb-hover-name: 'fb-hover';
$fb-hover-x: 0px;
$fb-hover-y: 112px;
$fb-hover-offset-x: 0px;
$fb-hover-offset-y: -112px;
$fb-hover-width: 15px;
$fb-hover-height: 29px;
$fb-hover-total-width: 169px;
$fb-hover-total-height: 141px;
$fb-hover-image: 'sprite.png';
$fb-hover: (0px, 112px, 0px, -112px, 15px, 29px, 169px, 141px, 'sprite.png', 'fb-hover', );
$fb-name: 'fb';
$fb-x: 127px;
$fb-y: 83px;
$fb-offset-x: -127px;
$fb-offset-y: -83px;
$fb-width: 15px;
$fb-height: 29px;
$fb-total-width: 169px;
$fb-total-height: 141px;
$fb-image: 'sprite.png';
$fb: (127px, 83px, -127px, -83px, 15px, 29px, 169px, 141px, 'sprite.png', 'fb', );
$htmlacademy-active-name: 'htmlacademy-active';
$htmlacademy-active-x: 100px;
$htmlacademy-active-y: 0px;
$htmlacademy-active-offset-x: -100px;
$htmlacademy-active-offset-y: 0px;
$htmlacademy-active-width: 27px;
$htmlacademy-active-height: 34px;
$htmlacademy-active-total-width: 169px;
$htmlacademy-active-total-height: 141px;
$htmlacademy-active-image: 'sprite.png';
$htmlacademy-active: (100px, 0px, -100px, 0px, 27px, 34px, 169px, 141px, 'sprite.png', 'htmlacademy-active', );
$htmlacademy-hover-name: 'htmlacademy-hover';
$htmlacademy-hover-x: 100px;
$htmlacademy-hover-y: 34px;
$htmlacademy-hover-offset-x: -100px;
$htmlacademy-hover-offset-y: -34px;
$htmlacademy-hover-width: 27px;
$htmlacademy-hover-height: 34px;
$htmlacademy-hover-total-width: 169px;
$htmlacademy-hover-total-height: 141px;
$htmlacademy-hover-image: 'sprite.png';
$htmlacademy-hover: (100px, 34px, -100px, -34px, 27px, 34px, 169px, 141px, 'sprite.png', 'htmlacademy-hover', );
$htmlacademy-name: 'htmlacademy';
$htmlacademy-x: 0px;
$htmlacademy-y: 78px;
$htmlacademy-offset-x: 0px;
$htmlacademy-offset-y: -78px;
$htmlacademy-width: 27px;
$htmlacademy-height: 34px;
$htmlacademy-total-width: 169px;
$htmlacademy-total-height: 141px;
$htmlacademy-image: 'sprite.png';
$htmlacademy: (0px, 78px, 0px, -78px, 27px, 34px, 169px, 141px, 'sprite.png', 'htmlacademy', );
$insta-active-name: 'insta-active';
$insta-active-x: 127px;
$insta-active-y: 41px;
$insta-active-offset-x: -127px;
$insta-active-offset-y: -41px;
$insta-active-width: 22px;
$insta-active-height: 21px;
$insta-active-total-width: 169px;
$insta-active-total-height: 141px;
$insta-active-image: 'sprite.png';
$insta-active: (127px, 41px, -127px, -41px, 22px, 21px, 169px, 141px, 'sprite.png', 'insta-active', );
$insta-hover-name: 'insta-hover';
$insta-hover-x: 127px;
$insta-hover-y: 20px;
$insta-hover-offset-x: -127px;
$insta-hover-offset-y: -20px;
$insta-hover-width: 22px;
$insta-hover-height: 21px;
$insta-hover-total-width: 169px;
$insta-hover-total-height: 141px;
$insta-hover-image: 'sprite.png';
$insta-hover: (127px, 20px, -127px, -20px, 22px, 21px, 169px, 141px, 'sprite.png', 'insta-hover', );
$insta-name: 'insta';
$insta-x: 127px;
$insta-y: 62px;
$insta-offset-x: -127px;
$insta-offset-y: -62px;
$insta-width: 22px;
$insta-height: 21px;
$insta-total-width: 169px;
$insta-total-height: 141px;
$insta-image: 'sprite.png';
$insta: (127px, 62px, -127px, -62px, 22px, 21px, 169px, 141px, 'sprite.png', 'insta', );
$left-arrow-active-name: 'left-arrow-active';
$left-arrow-active-x: 0px;
$left-arrow-active-y: 0px;
$left-arrow-active-offset-x: 0px;
$left-arrow-active-offset-y: 0px;
$left-arrow-active-width: 50px;
$left-arrow-active-height: 26px;
$left-arrow-active-total-width: 169px;
$left-arrow-active-total-height: 141px;
$left-arrow-active-image: 'sprite.png';
$left-arrow-active: (0px, 0px, 0px, 0px, 50px, 26px, 169px, 141px, 'sprite.png', 'left-arrow-active', );
$left-arrow-hover-name: 'left-arrow-hover';
$left-arrow-hover-x: 50px;
$left-arrow-hover-y: 52px;
$left-arrow-hover-offset-x: -50px;
$left-arrow-hover-offset-y: -52px;
$left-arrow-hover-width: 50px;
$left-arrow-hover-height: 26px;
$left-arrow-hover-total-width: 169px;
$left-arrow-hover-total-height: 141px;
$left-arrow-hover-image: 'sprite.png';
$left-arrow-hover: (50px, 52px, -50px, -52px, 50px, 26px, 169px, 141px, 'sprite.png', 'left-arrow-hover', );
$left-arrow-name: 'left-arrow';
$left-arrow-x: 0px;
$left-arrow-y: 52px;
$left-arrow-offset-x: 0px;
$left-arrow-offset-y: -52px;
$left-arrow-width: 50px;
$left-arrow-height: 26px;
$left-arrow-total-width: 169px;
$left-arrow-total-height: 141px;
$left-arrow-image: 'sprite.png';
$left-arrow: (0px, 52px, 0px, -52px, 50px, 26px, 169px, 141px, 'sprite.png', 'left-arrow', );
$right-arrow-active-name: 'right-arrow-active';
$right-arrow-active-x: 50px;
$right-arrow-active-y: 26px;
$right-arrow-active-offset-x: -50px;
$right-arrow-active-offset-y: -26px;
$right-arrow-active-width: 50px;
$right-arrow-active-height: 26px;
$right-arrow-active-total-width: 169px;
$right-arrow-active-total-height: 141px;
$right-arrow-active-image: 'sprite.png';
$right-arrow-active: (50px, 26px, -50px, -26px, 50px, 26px, 169px, 141px, 'sprite.png', 'right-arrow-active', );
$right-arrow-hover-name: 'right-arrow-hover';
$right-arrow-hover-x: 0px;
$right-arrow-hover-y: 26px;
$right-arrow-hover-offset-x: 0px;
$right-arrow-hover-offset-y: -26px;
$right-arrow-hover-width: 50px;
$right-arrow-hover-height: 26px;
$right-arrow-hover-total-width: 169px;
$right-arrow-hover-total-height: 141px;
$right-arrow-hover-image: 'sprite.png';
$right-arrow-hover: (0px, 26px, 0px, -26px, 50px, 26px, 169px, 141px, 'sprite.png', 'right-arrow-hover', );
$right-arrow-name: 'right-arrow';
$right-arrow-x: 50px;
$right-arrow-y: 0px;
$right-arrow-offset-x: -50px;
$right-arrow-offset-y: 0px;
$right-arrow-width: 50px;
$right-arrow-height: 26px;
$right-arrow-total-width: 169px;
$right-arrow-total-height: 141px;
$right-arrow-image: 'sprite.png';
$right-arrow: (50px, 0px, -50px, 0px, 50px, 26px, 169px, 141px, 'sprite.png', 'right-arrow', );
$search-active-name: 'search-active';
$search-active-x: 151px;
$search-active-y: 19px;
$search-active-offset-x: -151px;
$search-active-offset-y: -19px;
$search-active-width: 18px;
$search-active-height: 19px;
$search-active-total-width: 169px;
$search-active-total-height: 141px;
$search-active-image: 'sprite.png';
$search-active: (151px, 19px, -151px, -19px, 18px, 19px, 169px, 141px, 'sprite.png', 'search-active', );
$search-hover-name: 'search-hover';
$search-hover-x: 151px;
$search-hover-y: 0px;
$search-hover-offset-x: -151px;
$search-hover-offset-y: 0px;
$search-hover-width: 18px;
$search-hover-height: 19px;
$search-hover-total-width: 169px;
$search-hover-total-height: 141px;
$search-hover-image: 'sprite.png';
$search-hover: (151px, 0px, -151px, 0px, 18px, 19px, 169px, 141px, 'sprite.png', 'search-hover', );
$search-name: 'search';
$search-x: 107px;
$search-y: 78px;
$search-offset-x: -107px;
$search-offset-y: -78px;
$search-width: 18px;
$search-height: 19px;
$search-total-width: 169px;
$search-total-height: 141px;
$search-image: 'sprite.png';
$search: (107px, 78px, -107px, -78px, 18px, 19px, 169px, 141px, 'sprite.png', 'search', );
$twitter-active-name: 'twitter-active';
$twitter-active-x: 127px;
$twitter-active-y: 0px;
$twitter-active-offset-x: -127px;
$twitter-active-offset-y: 0px;
$twitter-active-width: 24px;
$twitter-active-height: 20px;
$twitter-active-total-width: 169px;
$twitter-active-total-height: 141px;
$twitter-active-image: 'sprite.png';
$twitter-active: (127px, 0px, -127px, 0px, 24px, 20px, 169px, 141px, 'sprite.png', 'twitter-active', );
$twitter-hover-name: 'twitter-hover';
$twitter-hover-x: 83px;
$twitter-hover-y: 78px;
$twitter-hover-offset-x: -83px;
$twitter-hover-offset-y: -78px;
$twitter-hover-width: 24px;
$twitter-hover-height: 20px;
$twitter-hover-total-width: 169px;
$twitter-hover-total-height: 141px;
$twitter-hover-image: 'sprite.png';
$twitter-hover: (83px, 78px, -83px, -78px, 24px, 20px, 169px, 141px, 'sprite.png', 'twitter-hover', );
$twitter-name: 'twitter';
$twitter-x: 59px;
$twitter-y: 78px;
$twitter-offset-x: -59px;
$twitter-offset-y: -78px;
$twitter-width: 24px;
$twitter-height: 20px;
$twitter-total-width: 169px;
$twitter-total-height: 141px;
$twitter-image: 'sprite.png';
$twitter: (59px, 78px, -59px, -78px, 24px, 20px, 169px, 141px, 'sprite.png', 'twitter', );
$video-name: 'video';
$video-x: 27px;
$video-y: 78px;
$video-offset-x: -27px;
$video-offset-y: -78px;
$video-width: 32px;
$video-height: 22px;
$video-total-width: 169px;
$video-total-height: 141px;
$video-image: 'sprite.png';
$video: (27px, 78px, -27px, -78px, 32px, 22px, 169px, 141px, 'sprite.png', 'video', );
$spritesheet-width: 169px;
$spritesheet-height: 141px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($cart-active, $cart-hover, $cart, $fb-active, $fb-hover, $fb, $htmlacademy-active, $htmlacademy-hover, $htmlacademy, $insta-active, $insta-hover, $insta, $left-arrow-active, $left-arrow-hover, $left-arrow, $right-arrow-active, $right-arrow-hover, $right-arrow, $search-active, $search-hover, $search, $twitter-active, $twitter-hover, $twitter, $video, );
$spritesheet: (169px, 141px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(../img/#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
