/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$cart-active-name: 'cart-active';
$cart-active-x: 69px;
$cart-active-y: 128px;
$cart-active-offset-x: -69px;
$cart-active-offset-y: -128px;
$cart-active-width: 21px;
$cart-active-height: 18px;
$cart-active-total-width: 194px;
$cart-active-total-height: 169px;
$cart-active-image: 'sprite.png';
$cart-active: (69px, 128px, -69px, -128px, 21px, 18px, 194px, 169px, 'sprite.png', 'cart-active', );
$cart-hover-name: 'cart-hover';
$cart-hover-x: 48px;
$cart-hover-y: 128px;
$cart-hover-offset-x: -48px;
$cart-hover-offset-y: -128px;
$cart-hover-width: 21px;
$cart-hover-height: 18px;
$cart-hover-total-width: 194px;
$cart-hover-total-height: 169px;
$cart-hover-image: 'sprite.png';
$cart-hover: (48px, 128px, -48px, -128px, 21px, 18px, 194px, 169px, 'sprite.png', 'cart-hover', );
$cart-name: 'cart';
$cart-x: 90px;
$cart-y: 128px;
$cart-offset-x: -90px;
$cart-offset-y: -128px;
$cart-width: 21px;
$cart-height: 18px;
$cart-total-width: 194px;
$cart-total-height: 169px;
$cart-image: 'sprite.png';
$cart: (90px, 128px, -90px, -128px, 21px, 18px, 194px, 169px, 'sprite.png', 'cart', );
$fb-active-name: 'fb-active';
$fb-active-x: 179px;
$fb-active-y: 58px;
$fb-active-offset-x: -179px;
$fb-active-offset-y: -58px;
$fb-active-width: 15px;
$fb-active-height: 29px;
$fb-active-total-width: 194px;
$fb-active-total-height: 169px;
$fb-active-image: 'sprite.png';
$fb-active: (179px, 58px, -179px, -58px, 15px, 29px, 194px, 169px, 'sprite.png', 'fb-active', );
$fb-hover-name: 'fb-hover';
$fb-hover-x: 179px;
$fb-hover-y: 29px;
$fb-hover-offset-x: -179px;
$fb-hover-offset-y: -29px;
$fb-hover-width: 15px;
$fb-hover-height: 29px;
$fb-hover-total-width: 194px;
$fb-hover-total-height: 169px;
$fb-hover-image: 'sprite.png';
$fb-hover: (179px, 29px, -179px, -29px, 15px, 29px, 194px, 169px, 'sprite.png', 'fb-hover', );
$fb-name: 'fb';
$fb-x: 179px;
$fb-y: 0px;
$fb-offset-x: -179px;
$fb-offset-y: 0px;
$fb-width: 15px;
$fb-height: 29px;
$fb-total-width: 194px;
$fb-total-height: 169px;
$fb-image: 'sprite.png';
$fb: (179px, 0px, -179px, 0px, 15px, 29px, 194px, 169px, 'sprite.png', 'fb', );
$htmlacademy-active-name: 'htmlacademy-active';
$htmlacademy-active-x: 152px;
$htmlacademy-active-y: 34px;
$htmlacademy-active-offset-x: -152px;
$htmlacademy-active-offset-y: -34px;
$htmlacademy-active-width: 27px;
$htmlacademy-active-height: 34px;
$htmlacademy-active-total-width: 194px;
$htmlacademy-active-total-height: 169px;
$htmlacademy-active-image: 'sprite.png';
$htmlacademy-active: (152px, 34px, -152px, -34px, 27px, 34px, 194px, 169px, 'sprite.png', 'htmlacademy-active', );
$htmlacademy-hover-name: 'htmlacademy-hover';
$htmlacademy-hover-x: 152px;
$htmlacademy-hover-y: 68px;
$htmlacademy-hover-offset-x: -152px;
$htmlacademy-hover-offset-y: -68px;
$htmlacademy-hover-width: 27px;
$htmlacademy-hover-height: 34px;
$htmlacademy-hover-total-width: 194px;
$htmlacademy-hover-total-height: 169px;
$htmlacademy-hover-image: 'sprite.png';
$htmlacademy-hover: (152px, 68px, -152px, -68px, 27px, 34px, 194px, 169px, 'sprite.png', 'htmlacademy-hover', );
$htmlacademy-name: 'htmlacademy';
$htmlacademy-x: 152px;
$htmlacademy-y: 0px;
$htmlacademy-offset-x: -152px;
$htmlacademy-offset-y: 0px;
$htmlacademy-width: 27px;
$htmlacademy-height: 34px;
$htmlacademy-total-width: 194px;
$htmlacademy-total-height: 169px;
$htmlacademy-image: 'sprite.png';
$htmlacademy: (152px, 0px, -152px, 0px, 27px, 34px, 194px, 169px, 'sprite.png', 'htmlacademy', );
$insta-active-name: 'insta-active';
$insta-active-x: 44px;
$insta-active-y: 148px;
$insta-active-offset-x: -44px;
$insta-active-offset-y: -148px;
$insta-active-width: 22px;
$insta-active-height: 21px;
$insta-active-total-width: 194px;
$insta-active-total-height: 169px;
$insta-active-image: 'sprite.png';
$insta-active: (44px, 148px, -44px, -148px, 22px, 21px, 194px, 169px, 'sprite.png', 'insta-active', );
$insta-hover-name: 'insta-hover';
$insta-hover-x: 22px;
$insta-hover-y: 148px;
$insta-hover-offset-x: -22px;
$insta-hover-offset-y: -148px;
$insta-hover-width: 22px;
$insta-hover-height: 21px;
$insta-hover-total-width: 194px;
$insta-hover-total-height: 169px;
$insta-hover-image: 'sprite.png';
$insta-hover: (22px, 148px, -22px, -148px, 22px, 21px, 194px, 169px, 'sprite.png', 'insta-hover', );
$insta-name: 'insta';
$insta-x: 0px;
$insta-y: 148px;
$insta-offset-x: 0px;
$insta-offset-y: -148px;
$insta-width: 22px;
$insta-height: 21px;
$insta-total-width: 194px;
$insta-total-height: 169px;
$insta-image: 'sprite.png';
$insta: (0px, 148px, 0px, -148px, 22px, 21px, 194px, 169px, 'sprite.png', 'insta', );
$left-arrow-active-name: 'left-arrow-active';
$left-arrow-active-x: 102px;
$left-arrow-active-y: 26px;
$left-arrow-active-offset-x: -102px;
$left-arrow-active-offset-y: -26px;
$left-arrow-active-width: 50px;
$left-arrow-active-height: 26px;
$left-arrow-active-total-width: 194px;
$left-arrow-active-total-height: 169px;
$left-arrow-active-image: 'sprite.png';
$left-arrow-active: (102px, 26px, -102px, -26px, 50px, 26px, 194px, 169px, 'sprite.png', 'left-arrow-active', );
$left-arrow-hover-name: 'left-arrow-hover';
$left-arrow-hover-x: 102px;
$left-arrow-hover-y: 52px;
$left-arrow-hover-offset-x: -102px;
$left-arrow-hover-offset-y: -52px;
$left-arrow-hover-width: 50px;
$left-arrow-hover-height: 26px;
$left-arrow-hover-total-width: 194px;
$left-arrow-hover-total-height: 169px;
$left-arrow-hover-image: 'sprite.png';
$left-arrow-hover: (102px, 52px, -102px, -52px, 50px, 26px, 194px, 169px, 'sprite.png', 'left-arrow-hover', );
$left-arrow-name: 'left-arrow';
$left-arrow-x: 102px;
$left-arrow-y: 0px;
$left-arrow-offset-x: -102px;
$left-arrow-offset-y: 0px;
$left-arrow-width: 50px;
$left-arrow-height: 26px;
$left-arrow-total-width: 194px;
$left-arrow-total-height: 169px;
$left-arrow-image: 'sprite.png';
$left-arrow: (102px, 0px, -102px, 0px, 50px, 26px, 194px, 169px, 'sprite.png', 'left-arrow', );
$logo-footer-active-name: 'logo-footer-active';
$logo-footer-active-x: 0px;
$logo-footer-active-y: 34px;
$logo-footer-active-offset-x: 0px;
$logo-footer-active-offset-y: -34px;
$logo-footer-active-width: 102px;
$logo-footer-active-height: 34px;
$logo-footer-active-total-width: 194px;
$logo-footer-active-total-height: 169px;
$logo-footer-active-image: 'sprite.png';
$logo-footer-active: (0px, 34px, 0px, -34px, 102px, 34px, 194px, 169px, 'sprite.png', 'logo-footer-active', );
$logo-footer-hover-name: 'logo-footer-hover';
$logo-footer-hover-x: 0px;
$logo-footer-hover-y: 68px;
$logo-footer-hover-offset-x: 0px;
$logo-footer-hover-offset-y: -68px;
$logo-footer-hover-width: 102px;
$logo-footer-hover-height: 34px;
$logo-footer-hover-total-width: 194px;
$logo-footer-hover-total-height: 169px;
$logo-footer-hover-image: 'sprite.png';
$logo-footer-hover: (0px, 68px, 0px, -68px, 102px, 34px, 194px, 169px, 'sprite.png', 'logo-footer-hover', );
$logo-footer-name: 'logo-footer';
$logo-footer-x: 0px;
$logo-footer-y: 0px;
$logo-footer-offset-x: 0px;
$logo-footer-offset-y: 0px;
$logo-footer-width: 102px;
$logo-footer-height: 34px;
$logo-footer-total-width: 194px;
$logo-footer-total-height: 169px;
$logo-footer-image: 'sprite.png';
$logo-footer: (0px, 0px, 0px, 0px, 102px, 34px, 194px, 169px, 'sprite.png', 'logo-footer', );
$right-arrow-active-name: 'right-arrow-active';
$right-arrow-active-x: 100px;
$right-arrow-active-y: 102px;
$right-arrow-active-offset-x: -100px;
$right-arrow-active-offset-y: -102px;
$right-arrow-active-width: 50px;
$right-arrow-active-height: 26px;
$right-arrow-active-total-width: 194px;
$right-arrow-active-total-height: 169px;
$right-arrow-active-image: 'sprite.png';
$right-arrow-active: (100px, 102px, -100px, -102px, 50px, 26px, 194px, 169px, 'sprite.png', 'right-arrow-active', );
$right-arrow-hover-name: 'right-arrow-hover';
$right-arrow-hover-x: 50px;
$right-arrow-hover-y: 102px;
$right-arrow-hover-offset-x: -50px;
$right-arrow-hover-offset-y: -102px;
$right-arrow-hover-width: 50px;
$right-arrow-hover-height: 26px;
$right-arrow-hover-total-width: 194px;
$right-arrow-hover-total-height: 169px;
$right-arrow-hover-image: 'sprite.png';
$right-arrow-hover: (50px, 102px, -50px, -102px, 50px, 26px, 194px, 169px, 'sprite.png', 'right-arrow-hover', );
$right-arrow-name: 'right-arrow';
$right-arrow-x: 0px;
$right-arrow-y: 102px;
$right-arrow-offset-x: 0px;
$right-arrow-offset-y: -102px;
$right-arrow-width: 50px;
$right-arrow-height: 26px;
$right-arrow-total-width: 194px;
$right-arrow-total-height: 169px;
$right-arrow-image: 'sprite.png';
$right-arrow: (0px, 102px, 0px, -102px, 50px, 26px, 194px, 169px, 'sprite.png', 'right-arrow', );
$search-active-name: 'search-active';
$search-active-x: 84px;
$search-active-y: 148px;
$search-active-offset-x: -84px;
$search-active-offset-y: -148px;
$search-active-width: 18px;
$search-active-height: 19px;
$search-active-total-width: 194px;
$search-active-total-height: 169px;
$search-active-image: 'sprite.png';
$search-active: (84px, 148px, -84px, -148px, 18px, 19px, 194px, 169px, 'sprite.png', 'search-active', );
$search-hover-name: 'search-hover';
$search-hover-x: 66px;
$search-hover-y: 148px;
$search-hover-offset-x: -66px;
$search-hover-offset-y: -148px;
$search-hover-width: 18px;
$search-hover-height: 19px;
$search-hover-total-width: 194px;
$search-hover-total-height: 169px;
$search-hover-image: 'sprite.png';
$search-hover: (66px, 148px, -66px, -148px, 18px, 19px, 194px, 169px, 'sprite.png', 'search-hover', );
$search-name: 'search';
$search-x: 134px;
$search-y: 78px;
$search-offset-x: -134px;
$search-offset-y: -78px;
$search-width: 18px;
$search-height: 19px;
$search-total-width: 194px;
$search-total-height: 169px;
$search-image: 'sprite.png';
$search: (134px, 78px, -134px, -78px, 18px, 19px, 194px, 169px, 'sprite.png', 'search', );
$twitter-active-name: 'twitter-active';
$twitter-active-x: 24px;
$twitter-active-y: 128px;
$twitter-active-offset-x: -24px;
$twitter-active-offset-y: -128px;
$twitter-active-width: 24px;
$twitter-active-height: 20px;
$twitter-active-total-width: 194px;
$twitter-active-total-height: 169px;
$twitter-active-image: 'sprite.png';
$twitter-active: (24px, 128px, -24px, -128px, 24px, 20px, 194px, 169px, 'sprite.png', 'twitter-active', );
$twitter-hover-name: 'twitter-hover';
$twitter-hover-x: 0px;
$twitter-hover-y: 128px;
$twitter-hover-offset-x: 0px;
$twitter-hover-offset-y: -128px;
$twitter-hover-width: 24px;
$twitter-hover-height: 20px;
$twitter-hover-total-width: 194px;
$twitter-hover-total-height: 169px;
$twitter-hover-image: 'sprite.png';
$twitter-hover: (0px, 128px, 0px, -128px, 24px, 20px, 194px, 169px, 'sprite.png', 'twitter-hover', );
$twitter-name: 'twitter';
$twitter-x: 152px;
$twitter-y: 102px;
$twitter-offset-x: -152px;
$twitter-offset-y: -102px;
$twitter-width: 24px;
$twitter-height: 20px;
$twitter-total-width: 194px;
$twitter-total-height: 169px;
$twitter-image: 'sprite.png';
$twitter: (152px, 102px, -152px, -102px, 24px, 20px, 194px, 169px, 'sprite.png', 'twitter', );
$video-name: 'video';
$video-x: 102px;
$video-y: 78px;
$video-offset-x: -102px;
$video-offset-y: -78px;
$video-width: 32px;
$video-height: 22px;
$video-total-width: 194px;
$video-total-height: 169px;
$video-image: 'sprite.png';
$video: (102px, 78px, -102px, -78px, 32px, 22px, 194px, 169px, 'sprite.png', 'video', );
$spritesheet-width: 194px;
$spritesheet-height: 169px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($cart-active, $cart-hover, $cart, $fb-active, $fb-hover, $fb, $htmlacademy-active, $htmlacademy-hover, $htmlacademy, $insta-active, $insta-hover, $insta, $left-arrow-active, $left-arrow-hover, $left-arrow, $logo-footer-active, $logo-footer-hover, $logo-footer, $right-arrow-active, $right-arrow-hover, $right-arrow, $search-active, $search-hover, $search, $twitter-active, $twitter-hover, $twitter, $video, );
$spritesheet: (194px, 169px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
